.centerDiv {
    border: 1px solid black;
    width: max-content;
    padding: 50px;
    position: absolute;
    top: 60%;
    margin-bottom: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  .input {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    outline-color: transparent;
    width: 90%;
  }

  [type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
 }
  [type="file"] + label {
    background: #002f34;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    width: 100%;
 }
  [type="file"] + label:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
 }

  
  .uploadBtn {
    margin-top: 10px;
    width: 100%;
    padding: 1rem 50px;
    border-color: transparent;
    background-color: #002f34;
    color: whitesmoke;
    border-radius: 5px;
    font-weight: 900;
  }
  .uploadBtn:hover {
    background-color: white;
    color: #002f34;
    border: 2px solid #002f34;
  }
  